name: mori
on: push
jobs:
  build:
    name: mori build
    runs-on: label-1
    steps:
      - name: clone source code
        run: |
          pwd
          hostname
          id
          #export PATH="/usr/bin:/usr/local/bin:$PATH"
          #export PATH="/home/fizhang/.local/bin:$PATH"
          cmake --version
          #exit 
          #source ~/.bashrc
          echo "0. PATH: $PATH"
          #export PATH="/home/runner/.local/bin:$PATH"
          cmake --version
          echo "=== CMake 版本诊断 ==="
          echo "1. PATH: $PATH"
          echo "2. which cmake: $(which cmake)"
          echo "3. 所有 cmake 路径:"
          which -a cmake
          echo "4. 各路径版本:"
          for cmd in $(which -a cmake); do
            echo "   $cmd: $($cmd --version | head -n1)"
          done
          echo "5. 当前 shell: $SHELL"
          
          pwd
          id
          ls
          #rm -rf mori 
          #git clone https://github.com/zhangfei829/mytest.git
          #git clone https://github.com/ROCm/mori.git
          cd mori
          ls
          rm -rf build
          git config --global --add safe.directory /home/fizhang/actions-runner/_work/mori/mori/mori
          git checkout main
          #pip install --target /apps/mori-ci/packages -r requirements-build.txt
          pip install -r requirements-build.txt
          #git submodule update --init --recursive 
          pip3 install . --no-build-isolation
          #USE_IONIC=ON pip3 install . --no-build-isolation --target /apps/mori-ci/python-packages
          #make
          scp -P 2233 -r /home/fizhang/actions-runner/_work/mori/mori/mori root@banff-pla-r25-14:/home/fizhang/actions-runner/_work/mori/mori/
  test:
    name: mori test
    needs: build
    runs-on: label-1
    steps:
        #- uses: actions/checkout@v4
        #- name: Set up Python
        #uses: actions/setup-python@v4
        #with:
                #python-version: '3.11'
      #- run: pip install -r requirements.txt
      - name: Run tests
        run: |
          cd mori
          #id ci
          #groups
          #id -G
          #id
          # 查看当前用户在哪些组
          #groups $USER
          # 检查 render 和 video 组是否存在
          #getent group render
          #getent group video

          # 查看 /dev/kfd 权限
          #ls -l /dev/kfd
          #ls -l /dev/dri/
          #rocm-smi 
          #/opt/rocm/bin/rocminfo
          #python test.py
          #bash test.sh
          
          export PYTHONPATH=/home/fizhang/actions-runner/_work/mori/mori/mori:$PYTHONPATH
          #export PYTHONPATH=/apps/mori-ci/python-packages:$PYTHONPATH
          #python3 tests/python/ops/bench_dispatch_combine.py
          #pytest -v tests/python/ops/
          #ldd ./build/examples/dist_write
          #which mpiexec
          #/usr/bin/mpiexec --version 
          #mpiexec --version
          #ldd /usr/bin/mpiexec
          #ldd /usr/lib/x86_64-linux-gnu/openmpi/lib/openmpi3/mca_pmix_ext3x.so
          #nm -D /usr/lib/x86_64-linux-gnu/openmpi/lib/openmpi3/mca_pmix_ext3x.so | grep pmix_value_load
          #find /usr -name "*pmix*" -type f | xargs nm -D 2>/dev/null | grep pmix_value_load
          #mpiexec --allow-run-as-root -x MORI_GLOBAL_LOG_LEVEL=TRACE -np 2 ls
          mpiexec --allow-run-as-root -x MORI_GLOBAL_LOG_LEVEL=TRACE -np 2 ./build/examples/dist_write -c 4 -t 256 -q 4
          ssh -p 2233 root@banff-pla-r25-14 "hostname"
          GLOO_SOCKET_IFNAME=ens14np0 PYTHONPATH=$(pwd):$PYTHONPATH torchrun --nnodes=2 --node_rank=0 --nproc_per_node=1 --master_addr="banff-pla-r25-05" --master_port=1234 examples/ops/dispatch_combine/test_dispatch_combine_internode.py --cmd bench --kernel-type v1 --num-qp 2 --max-tokens 4096 &
          ssh -p 2233 root@banff-pla-r25-14 "GLOO_SOCKET_IFNAME=ens14np0 PYTHONPATH=$(pwd):$PYTHONPATH /opt/conda/envs/py_3.10/bin/torchrun --nnodes=2 --node_rank=1 --nproc_per_node=1 --master_addr='banff-pla-r25-05' --master_port=1234 /home/fizhang/actions-runner/_work/mori/mori/mori/examples/ops/dispatch_combine/test_dispatch_combine_internode.py --cmd bench --kernel-type v1 --num-qp 2 --max-tokens 4096 &" 
