name: mori
on:
  push:
  workflow_dispatch:
jobs:
  build:
    name: mori build
    runs-on: label-1
    steps:
      - name: clone source code
        run: |
          pwd
          hostname
          id
          #export PATH="/home/fizhang/.local/bin:$PATH"
          cmake --version
          echo "0. PATH: $PATH"
          cmake --version
          #rm -rf mori
          #git clone https://github.com/ROCm/mori.git
          cd mori
          ls
          rm -rf build
          #git config --global --add safe.directory /home/fizhang/actions-runner/_work/mori/mori/mori
          git checkout ci-new
          git pull
          #pip install --target /apps/mori-ci/packages -r requirements-build.txt
          pip install -r requirements-build.txt
          #git submodule update --init --recursive
          #pip3 install . --no-build-isolation
          USE_IONIC=ON pip3 install . --no-build-isolation
          # --target /apps/mori-ci/python-packages
          scp -P 2233 -r /root/actions-runner/_work/mori/mori/mori root@smci355-ccs-aus-n08-33:/root/actions-runner/_work/mori/mori/
  test:
    name: mori test
    needs: build
    runs-on: label-1
    steps:
        #- uses: actions/checkout@v4
        #- name: Set up Python
        #uses: actions/setup-python@v4
        #with:
                #python-version: '3.11'
      #- run: pip install -r requirements.txt
      - name: Run tests
        run: |
          hostname
          pwd
          ls
          cd mori
          export PYTHONPATH=/root/actions-runner/_work/mori/mori/mori:$PYTHONPATH
          #mpiexec --allow-run-as-root -x MORI_GLOBAL_LOG_LEVEL=TRACE -np 2 ls
          echo "1. mori-io test case: test_engine.py"
          pytest ./tests/python/io/test_engine.py
          echo "2. mori-io test case: test_engine_multi_session_batch.py"
          pytest ./tests/python/io/test_engine_multi_session_batch.py

          echo "1. mori-ibgda test case: write_gpu"
          ./build/examples/write_gpu

          echo "2. mori-ibgda test case: write_inline_gpu"
          ./build/examples/write_inline_gpu

          echo "3. mori-ibgda test case: send_recv_gpu"
          ./build/examples/send_recv_gpu

          echo "4. mori-ibgda test case: dist_write"
          mpiexec --allow-run-as-root -x MORI_GLOBAL_LOG_LEVEL=TRACE -np 2 ./build/examples/dist_write -c 4 -t 256 -q 4

          echo "1. mori-shmem test case: test_api.py"
          pytest ./tests/python/shmem/test_api.py

          echo "2. mori-shmem test case: concurrent_put_thread"
          mpiexec --allow-run-as-root -np 2 ./build/examples/concurrent_put_thread

          echo "3. mori-shmem test case: concurrent_put_imm_thread"
          mpiexec --allow-run-as-root  -np 2 ./build/examples/concurrent_put_imm_thread

          echo "4. mori-shmem test case: concurrent_put_signal_thread"
          mpiexec --allow-run-as-root  -np 2 ./build/examples/concurrent_put_signal_thread

          echo "1. mori-ep test case: test_dispatch_combine.py"
          pytest ./tests/python/ops/test_dispatch_combine.py

          echo "2. mori-ep test case: bench_dispatch_combine.py"
          python3 ./tests/python/ops/bench_dispatch_combine.py

          echo "3. mori-ep test case: bench"
          GLOO_SOCKET_IFNAME=enp81s0f1 torchrun --nnodes=1 --node_rank=0 --nproc_per_node=1 --master_addr="smci355-ccs-aus-n08-29" --master_port=2222 examples/ops/dispatch_combine/test_dispatch_combine_internode.py --cmd bench --kernel-type v1 --num-qp 2 --max-tokens 4096

          echo "4. mori-ep test case: inter bench"
          #export MORI_RDMA_DEVICES=ionic_0,ionic_1,ionic_2,ionic_3,ionic_4,ionic_6,ionic_7
          #ssh -p 2233 root@smci355-ccs-aus-n08-33 "hostname"
          ssh -p 2233 root@smci355-ccs-aus-n08-33 "GLOO_SOCKET_IFNAME=enp81s0f1 /opt/venv/bin/torchrun --nnodes=2 --node_rank=0 --nproc_per_node=1 --master_addr='smci355-ccs-aus-n08-33' --master_port=1234 /root/actions-runner/_work/mori/mori/mori/examples/ops/dispatch_combine/test_dispatch_combine_internode.py --cmd bench --kernel-type v1 --num-qp 2 --max-tokens 4096 &" &
          GLOO_SOCKET_IFNAME=enp81s0f1 torchrun --nnodes=2 --node_rank=1 --nproc_per_node=1 --master_addr="smci355-ccs-aus-n08-33" --master_port=1234 examples/ops/dispatch_combine/test_dispatch_combine_internode.py --cmd bench --kernel-type v1 --num-qp 2 --max-tokens 4096
          sleep 1
          echo "5. mori-ep test case: inter stress"
          ssh -p 2233 root@smci355-ccs-aus-n08-33 "GLOO_SOCKET_IFNAME=enp81s0f1 /opt/venv/bin/torchrun --nnodes=2 --node_rank=0 --nproc_per_node=1 --master_addr='smci355-ccs-aus-n08-33' --master_port=1234 /root/actions-runner/_work/mori/mori/mori/examples/ops/dispatch_combine/test_dispatch_combine_internode.py --cmd stress --kernel-type v1 --num-qp 2 --max-tokens 128 &" &
          GLOO_SOCKET_IFNAME=enp81s0f1 torchrun --nnodes=2 --node_rank=1 --nproc_per_node=1 --master_addr="smci355-ccs-aus-n08-33" --master_port=1234 examples/ops/dispatch_combine/test_dispatch_combine_internode.py --cmd stress --kernel-type v1 --num-qp 2 --max-tokens 128
